@charset "ISO-8859-1";

div.container{
	margin-top: 10px !important;
	/*background-color: red !important;*/
	width: 90% !important;
	height: 100% !important;
	max-width: 2300px;
}

div.nav-wrapper{
	background-color: #37474f;
	margin-bottom: 10px !important;
}

footer.page-footer{
	background-color: #37474f;
	 margin-top: 30%;
}

h5#title{  
	padding-left: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.7em;
    color: #00796b;	
}

form#formListaProduto, form#formListaCategoria, form#formListaPessoa{
	padding-left: 350px;
	padding-right: 30px;
	
}

   form input[type="submit"]{
	color: white;
	}   

  
  main, footer, header {
 		
      padding-left: 280px;
    }

    @media only screen and (max-width : 992px) {
       main, footer, header {
        padding-left: 0;
      }
    }
    
 i.waves-effect.waves-light.btn-large.white-text.waves-input-wrapper{
 	background-color: #4caf50;
 	padding: 0 15% 0 15%;
    font-size: 1.2em;
 } 
 
 button#btnNovo.white-text.waves-effect.waves-light.btn-large{
 	background-color: #0097a7;
 	padding: 0 15% 0 15%;
    font-size: 1.2em;
 }
    